#root {
  margin: 0 auto;
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/wp5725815.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  max-width: 414px;
  min-height: 100vh;
  border: white 1px solid;
}

#calendar-table {
  width: 200px;
  height: 200px;
}
#calendar-table td {
  border: 1px solid white;
  padding: 10px 20px;
}

#navbar {
  list-style-type: none;
  margin: 5px 0 10px;
  padding: 0;
  top: 0;
  overflow: scroll;
  width: 99vw;
  max-width: 414px;
}
#navbar li {
  display: block;
  padding: 10px 20px;
}


table {
  border-collapse: collapse;
  margin: 0 auto;
}
.week-table td {
  padding: 14px 20px;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: none;
  border: white 1px solid;
  border-radius: 50%;
}

.profiles {
  margin: 12px auto;
  padding: 0px;
  height: 60px;
  width: 90vw;
  max-width: 400px;
  border: white 1px solid;
  background-color: #1a1a1a;
  text-align: left;
} 
.profile-name {
  display: inline;
  border: white 1px solid;
  padding: 7px 10px 7px;
  margin: 7px;
} .given {
  background-color: #00ACDC;
}
.shift-to-delete-width {
  max-width: 200px;
}

input {
  width: 85vw;
  max-width: 380px;
  margin: 0px auto 5px;
  padding: 5px 0px 5px 5px;
}

.display-name {
  border: white 1px solid;
  background-color: #1a1a1a;
  margin: 0 auto;
  max-width: 300px;
  width: 60vw;
}

.deleting {
  background-color: #EE2A7B;
}

.pink {
  background-color: #EE2A7B;
}

.blue {
  background-color: #00ACDC;
}

.yellow {
  background-color: #fee200;
}

button {
  margin: 10px auto;
}

.selected-circle {
  box-shadow: white 1px 1px 10px;
  background-color: white;
}

.border {
  border: white 1px solid;
  width: 80vw;
  max-width: 300px;
  margin: 10px auto;
} .border input {
  margin: 5px auto 0;
  width: 80%;
}